infrastructure/src/main/resources/wsdl/flights.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://flightprovider.com/wsdl" targetNamespace="http://flightprovider.com/wsdl" elementFormDefault="qualified">

    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origin" type="xs:string"/>
                <xs:element name="destination" type="xs:string"/>
                <xs:element name="departureDate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hasError" type="xs:boolean"/>
                <xs:element name="flights" type="tns:Flight" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Flight">
        <xs:sequence>
            <xs:element name="flightNumber" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="destination" type="xs:string"/>
            <xs:element name="departureTime" type="xs:string"/>
            <xs:element name="arrivalTime" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
